@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    background: theme('colors.white');
    min-width: 280px;
  }

  img {
    user-select: none;
  }

  svg.icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
  }
}
